@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Honk:MORF@25&display=swap');

$dark: #193B4D;
$light: #598392;
$secondary: #1c4b63;

$primary: #AEC3B0;
$primary-light: #284b63;
$primary-dark: #193B4D;

$primary-color: $primary;
$secondary-color: $secondary;

$font-family-base: "Fira Sans";
$font-size-base: 1.6rem;

@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.filterDiv {
  display: inline;
  visibility: visible;
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline;
  visibility: visible;
}

.custom-name {
  color: $primary-light;
}

.logo {
  font-family: "Honk";
}

.custom-link {
  color: $primary;

  &:hover, &:active {
    color: #EFF6E0;
  }
}

.card:hover {
  transform: scale(1.1);
  transition: .2s;
  z-index: 1;
}


@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.custom-button {
  background-color: transparent;
  color: $primary;
  &:hover {
    background-color: $primary;
    color: $black;
    
    .button-text {
      padding-left: 1rem; // Slide text on hover
    }
  }

  .button-text {
    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
    // width: 100%;
  }
}

// @supports (display: grid) {
//   body {
//     display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 0.625rem;
//   grid-template-areas: ". main main ." ". main main .";
//   }
  
//   #container {
//     grid-area: main;
//     align-self: center;
//     justify-self: center;
//   }
// }
