@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Honk:MORF@25&display=swap');

$dark: #193B4D;
$light: #598392;
$secondary: #1c4b63;

$primary: #AEC3B0;
$primary-light: #284b63;
$primary-dark: #193B4D;

$primary-color: $primary;
$secondary-color: $secondary;

$font-family-base: "Fira Sans";
$font-size-base: 1.6rem;

@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.filterDiv {
  display: inline;
  visibility: visible;
}

/* The "show" class is added to the filtered elements */
.show {
  display: inline;
  visibility: visible;
}

// .custom-name {
//   color: $primary-light;
//   font-family: "Comic Sans";
// }

.logo {
  font-family: "Honk";
}

.custom-link {
  color: $primary;

  &:hover, &:active {
    color: #EFF6E0;
  }
}

.card:hover {
  // transform: scale(1.1);
  transform: translateY(-10px);
  transition: .2s;
  z-index: 1;
}


@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.button-text {
  position: relative;
  display: inline-block;
  @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
  
  &::before {
    content: ''; // Initially, no content
    position: absolute;
    right: 0;
    top: 0;
    color: $black;
    @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
  }
}

.custom-button {
  background-color: transparent;
  color: $primary;
  border: none;
  padding: 0.5rem 1rem; // Adjust padding as needed
  
  &:hover, &:focus {
    background-color: $primary;
    color: $black;
    
    .button-text {
      
      &::before {
        content: '➔'; // Add the arrow on hover
        position: static;
        right: auto; 
        left: auto;
        margin-right: 10px;
      }
    }
  }
}



